.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__card-grid {
    display: grid;
    gap: 1.5rem;
    perspective: 500px;
  }

  &__card-grid_6 {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 150px);
  }

  &__card-grid_8 {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
  }

  &__card-grid_10 {
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(2, 150px);
  }

  &__card-grid_12 {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
  }

  &__card-grid_16 {
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
  }

  &__heading {
    font-size: 1.3rem;
  }
}